*{
    margin: 0;
    padding: 0;
}
.tab-content {
    padding: 0;
    margin: 0;
    background-color: #f6f6f6;
    padding: 14px 40px 50px 40px;
}
    
.back-clr{
    background-color: #f6f6f6;
}
.clr-right {
    background: linear-gradient(to right,#154977 0%,#1b609c 100%);
   
}
.nav-pills .nav-link-tab.active, .nav-pills .show>.nav-link-tab {
    background-color: #edf1f4;
    color: black !important;
    margin: 8px 7px;
}
.nav-pills .nav-link-tab.active, .nav-pills .show > .nav-link-tab {
    background-color: #fff !important;
   
}
.nav-link-tab{
    color: #fff !important;
} 
.filter_section {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding: 10px 15px;
    border-radius: 10px;
}

.staff{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px !important;
}
.section_staff {
    color: #000249;
    text-decoration: underline;
    text-underline-offset: 5px;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 19px;
}
.eye-btn{
    display: flex;
    justify-content:end;
    margin: -25px 10px;
}
.sub-btn {
    background-color: #198754 !important;
    border-color: #198754 !important;
   
}
.btn-margin{
    display: flex;
    justify-content: end;
}
.btn-success {
    background-color: #173f62 !important;
    color: #fff;
    border-color: #173f62 !important;
    padding: 7px 25px;
}

.btn-secondary {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}
.search_box {
    background-color: none;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent !important;
    margin-left: 5px !important;
    margin-top: -4px;
}

.image-size {
    height: 23px;
    transition: 0.3s;
}
.image-size:hover{
    transform: scale(1.5);
}

.image-size1 {
    height: 32px;
    transition: 0.3s;
}

.image-size1:hover{
    transform: scale(1.5);
}
.image-size2 {
    height: 39px;
    transition: 0.3s;
}
.image-size2:hover{
    transform: scale(1.5);
}

th,td{
    border-color: inherit;
    border-style: solid;
    border-width: 1px !important;
}

#txtLocationName1 {
    background-color: #e9ecef;
    opacity: 1;
}
.sub-btn {
    background-color: #198754 !important;
    border-color: #198754 !important;
}


/* form-control */
.form-control {
    width: 100% !important;
    font-size: 13.3px !important;
    letter-spacing: 0.4px !important;
    margin-right: 20px !important;
    border: 1.3px solid #ced4da !important;
}

.section_staff {
    color: #000249;
    text-decoration: underline;
    text-underline-offset: 5px;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 19px;
}
.filter_section label{
font-size: 14px;
margin-bottom: 0px;
}

/* form-control end*/

@media (max-width:576px){
    .form-select {
        margin: 0;
        width: 100% !important;
        
    }
    .form-control{
        width: none;
    }
    .btn-margin{
        padding: 38px;
        justify-content: unset;
       
    }
    table {
        display: block;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin: 0 auto;
        overflow-x: auto;
        white-space: nowrap;
      }
}

@media (max-width:768px) {
    .form-select {
        margin: 0;
        width: 100% !important;
        
    }
    .form-control{
        width: none;
    }
    .btn-margin{
        padding: 38px;
        justify-content: unset;
       
    }
    .nav-pills .nav-link-tab.active, .nav-pills .show > .nav-link-tab {
        background-color: #fff !important;
        width: 80%;
    }
    table {
        display: block;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin: 0 auto;
        overflow-x: auto;
        white-space: nowrap;
      }
}